body {
    font-family: Arial;
    background: #f5fdf7;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}
